@charset "UTF-8";
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  zoom: 1; }

a {
  text-decoration: none;
  color: inherit; }

a:hover, a:focus {
  text-decoration: none;
  color: inherit; }

a:focus {
  outline: none; }

input {
  vertical-align: middle; }

img {
  border-width: 0px; }

ul,
li,
p {
    margin: 0;
    padding: 0;
    list-style: none;
}

html {
    font-size: 1em;
    min-height: 100%;
}
@-ms-viewport { width: device-width; }
body {
    font: 100% cairo, Helvetica, sans-serif;
    color: #6D6E70;
    margin: 0;
    width: 100%;
    font-size: initial;
    line-height: normal;
    direction: ltr;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -ms-overflow-style: scrollbar;
    height: 100%;
    background-color: #09B8A7;
    background-repeat: repeat-x;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#09B8A7), to(#00A0BE));
    background: -webkit-linear-gradient(top, #09B8A7, #00A0BE);
    background: -moz-linear-gradient(top, #09B8A7, #00A0BE);
    background: -ms-linear-gradient(top, #09B8A7, #00A0BE);
    background: -o-linear-gradient(top, #09B8A7, #00A0BE);
}







.page-wrapper {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    position: relative;
}
.logo {
    width: 200px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.logo img{
    max-width: 200px;
}



.Language{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #fff;
    padding: 10px;
}
.Language ul li{
    width: 100%;
    margin: 8px 0;
}
.Language ul li a{
    display: block;
}
.flag_lang{
    max-width: 20px !important;
    
}