@charset "UTF-8";
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  zoom: 1; }

a {
  text-decoration: none;
  color: inherit; }

a:hover, a:focus {
  text-decoration: none;
  color: inherit; }

a:focus {
  outline: none; }

input {
  vertical-align: middle; }

img {
  border-width: 0px; }

ul,
li,
p {
  margin: 0;
  padding: 0;
  list-style: none; }

html {
  font-size: 1em;
  min-height: 100%; }

body {
    font: 100% cairo, Helvetica, sans-serif;
    color: #6D6E70;
    background: #fff;
    margin: 0;
    width: 100%;
    font-size: initial;
    line-height: normal;
    direction: ltr;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -ms-overflow-style: scrollbar;
    height: 100%;
}

@-ms-viewport { width: device-width; }





.page-wrapper {
    width: 100%;
    background: #fff;
    margin-top: 76px;
    max-width: 720px;
    margin: 0 auto;
    height: 100%;
    border: #000 1px solid;
}